<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soundmaze"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.soundmaze.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.speech.action.RECOGNIZE_SPEECH" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.soundmaze.MazeActivity"
            android:label="@string/title_activity_maze" 
            android:screenOrientation="portrait">
        </activity>
         <activity
            android:name="com.example.soundmaze.LevelsActivity"
            android:label="Levels" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.soundmaze.TopScoresActivity"
            android:label="@string/title_activity_top_scores" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.soundmaze.InstructActivity"
            android:label="@string/title_activity_instruct" 
            android:screenOrientation="portrait">
            
                        <intent-filter>
                <action android:name="android.speech.action.RECOGNIZE_SPEECH" />


            </intent-filter>
        </activity>
        <activity
            android:name="com.example.soundmaze.Game"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.soundmaze.AddUserActivity"
            android:label="Add New High Score"
            android:theme="@android:style/Theme.Dialog" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.soundmaze.TryActivity"
            android:label="@string/title_activity_try" 
            android:screenOrientation="portrait">
        </activity>
        
          
    </application>

</manifest>